.width-240 {
    width: 240px;
  }
  
  .width-80 {
    width: 80px;
  }
  
  .ms-240 {
    margin-left: 190px;
  }
  
  .ms-80 {
    margin-left: 
    31px;
  }

  .bg-secondary {
    background-color: #5c2589 !important;
  }
  
  .hover-bg-secondary:hover {
    background-color: rgba(92, 37, 137, 0.5) !important;
  }
  
  .top-40 {
    top: 40px;
  }

 
  
  .text-light {
    color: #f8f9fa !important;
  }
  
  .border-secondary {
    border-color: #5c2589 !important;
  }