.sidebar {
    background-color: #381552;
    color: white;
    height: 100vh;
}
.category-btn {
    background-color: #4a1d6e;
    color: white;
    transition: all 0.3s;
}
.category-btn:hover {
    background-color: #5c2589;
    transform: scale(1.05);
}
.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
