:root {
    --primary-color: #391653;
    --secondary-color: #6c3494;
    --light-color: #f8f9fa;
    --dark-color: #212529;
  }


.navbar {
    background-color: var(--dark-color);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: var(--light-color);
  }